#contact_modal {
    display: none;
}

.photograph-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    height: 300px;
    margin: 0;
    padding: 0 50px;
    background-color: #FAFAFA;
}

.photograph-header div {
    justify-self: start;
}

.photograph-header div h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
}

.photograph-header div p {
    margin: 0;
    font-weight: 400;
}

.photograph-header div p:nth-of-type(1) {
    margin: 0 0 19px;
    font-size: 24px;
    color: #901C1C;
}

.photograph-header div p:nth-of-type(2) {
    font-size: 18px;
    color: #525252;
}

.photograph-header img {
    justify-self: end;
}


.photograph-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
    margin: 0 0 100px;
    gap: 30px 95px;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.photograph-gallery .media {
    overflow: hidden;
    border-radius: 5px;
    width: 350px;
    height: 300px;
    cursor: zoom-in;
}

.photograph-gallery .media-thumbnail {
    margin: 0 auto 10px;
    width: 352px;
    height: 100%;
    object-fit: cover;
    transition: transform ease-out .2s;
}

.photograph-gallery .media-thumbnail:hover {
    transform: scale(1.2);
}

.photograph-gallery .media-details {
	display: grid;
	grid-template-columns: 1fr 80px;
	max-width: 350px;
	align-items: start;
}

.photograph-gallery .media-title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
}

.photograph-gallery .media-likes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 5px;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #901C1C;
}

.photograph-gallery .likes-icon {
    border: 0;
    background: none;
    padding: 5px;
}

.photograph-gallery .likes-icon svg {
    display: block;
    fill: #911C1C;
    transition: all ease-out .25s;
}

.photograph-gallery .likes-icon svg:hover,
.photograph-gallery .likes-icon .liked {
    fill: #DB8876;
}

.contact_button:hover {
    color: #000;
    background-color: #DB8876;
}
.contact_button.form:hover {
	color: #fff;
	background-color: #C82A2A;
}
.contact_button {
    justify-self: center;
    padding: 11px;
    width: 170px;
    height: 70px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
}

.modal_container {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	place-items: center;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(5px);
	overflow: auto;
}

.modal_container .modal {
	border-radius: 5px;
	background-color: #DB8876;
	width: 669px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: 2rem 0;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    width: 42px;
}

.modal header h2 {
    margin: 0;
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.modal form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	gap: 26px 0;
}

.modal form label {
    color: #312E2E;
    font-size: 36px;
}

.modal form div {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.modal form .modal-input-field {
	border: none;
	border-radius: .25rem;
	padding: 1rem;
	font-size: 1rem;
}
.modal form .modal-input-field:focus-visible {
    outline: .25rem solid #901c1cad;
}

.modal form textarea {
    height: 170px;
    resize: none;
}

.formData[data-error]::after {
    content: attr(data-error);
    display: block;
    margin-top: 4px;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 14.26px;
    color: #901c1c;
    opacity: 0;
    transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
    opacity: 1;
}
.formData[data-error-visible="true"] .text-control:focus-visible {
    outline: .25rem solid #901c1c;
}

.photograph-gallery-filter {
	display: flex;
	margin: 20px 0;
	gap: 0 25px;
    position: relative;
    z-index: 1;
}

.photograph-gallery-filter p {
    display: inline;
    font-size: 18px;
    font-weight: 700;
}

.dropdown-btn {
	position: relative;
}

.dropdown-btn .btn-filter {
	width: 170px;
	padding: 23px 20px;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	background-color: #901C1C;
	border: 0;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dropdown-btn.open .btn-filter {
	border-radius: 5px 5px 0 0;
}

.dropdown-btn.open .btn-filter svg {
	transform: rotate(180deg);
}

.dropdown-btn .dropdown-item {
    margin: 0;
    padding: 0;
    position: absolute;
    display: none;
    width: 100%;
    list-style: none;
}

.dropdown-btn .dropdown-item button {
    display: flex;
    padding: 0 10px;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #901C1C;
    border: 0;
}

.dropdown-btn .dropdown-item .hide {
    display: none;
}

.dropdown-btn .dropdown-item li:hover button {
    color: #000;
    background-color: #DB8876;
}

.dropdown-btn .dropdown-item li:last-child button{
    border-radius: 0 0 5px 5px;
}

.dropdown-btn .dropdown-item span {
    padding: 14px 10px;
    width: 100%;
    text-align: left;
    border-top: 1px #fff solid;

}

.dropdown-btn.open .dropdown-item {
	display: block;
}

.photograph-stat {
    position: fixed;
    bottom: 0;
    right: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 375px;
    height: 64px;
    border-radius: 5px 5px 0 0;
    background: #DB8876;
}

.photograph-stat p {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.photograph-stat .photograph-likes {
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.photograph-stat .photograph-likes button {
	border: 0;
	background: 0;
	padding: 5px;
}



#media-lightbox {
	justify-content: center;
}

.lightbox-container {
    display: flex;
    position: relative;
    gap: 0 10px;
    align-items: center;
}

.media-content {
    width: 950px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.media-content img,
.media-content video {
    max-height: 800px;
    max-width: 950px;
    object-fit: contain;
    display: block;
}

.media-content h3 {
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    color: #901C1C;
    bottom: -70px;
}

.previous-media,
.next-media,
.close-media {
	padding: 25px;
}

.previous-media,
.next-media {
    position: relative;
    top: -28px;
}

.close-media {
	position: absolute;
	top: 0;
	right: 0;
}

.previous-media svg,
.next-media svg,
.close-media svg {
    display: block;
    fill: #911C1C;
}

.previous-media:hover svg,
.next-media:hover svg,
.close-media:hover svg {
    fill: #DB8876;
}